.buttonWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  font-size: clamp(0.8rem, 3vw, 1.4rem); 
  

    
}

.btn_PA {
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    
    

  }
  
  .btn_PA:link {
    color: #0d2d3d;
  }
  
  .btn_PA:visited {
    color: #0d2d3d;
  }

  .btn_PA:hover {
    /* background-color: rgb(218, 218, 37);
    color: #0d2d3d; */
    background-color: #162d58;
    color:white;
    border-radius: 10px;
    
    /* height: 50px; */
  }
  .btnI{
    margin: 15px;
    
    
  }
  .head{
    display: flex;
    justify-content: center;

  }