.pagination_button_block_Pmain {
  display:flex;
  justify-content: center;
  clear: both;
  margin: 10px;
  /* width: 70vw; */
}

.pag_but_Pm{
  background-color: #0e5070;
  color:seashell;
  font-size: 30px;
  margin: 0 2px 0 2px;
  border-radius: 7px;
  border:none;
}

.pag_but_Pm:hover{ 
  opacity: 0.7;
}


.active{
  margin: 0 2px 0 2px;
  font-size: 30px;
  border-radius: 7px;
  border:none;
  background-color:rgb(218, 218, 37);
}
.filterPanelMainPage{
  /* background-color: #bbbbad; */
  border-radius: 10px;
  margin:10px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}


.item1 {
  border-top: 1px solid #0d2d3d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 1.2rem); 
}
.regInter {
  /* margin: 1.2rem; */
  /* border-top: 1px solid #0d2d3d; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 1.2rem); 
}
.regInterLeft {
  margin: 1.2rem;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 1.2rem); 
  /* font-size: 17px;  */
}
.reg_wrapper{
  border-top: 1px solid #0d2d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reg{
  display: flex;
  min-width: 77vw;
}

.regInterBlock{
  margin: 1rem;
}

.ul_it1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
}


.btn_top {
  text-decoration: none;
  padding: 15px;


}

.btn_top:link {
  color: #0d2d3d;

}

.btn_top:visited {
  color: #0d2d3d;
  

}

.btn_top:hover {
  background-color: rgb(218, 218, 37);
  color: #0d2d3d;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* height: 50px; */
}

.item2 {
  display: flex;
  border-top: 1px solid #0d2d3d;
  border-bottom: 2px solid #0d2d3d;
  height: 100%;
  width: 100%;
  justify-content: space-around;



}
.phone_menu_number{
  /* font-size: clamp(0.7rem, 2vw, 1.2rem); */
  font-size: 1.2rem;
}
.phone_block {
  display: flex;
  align-items: center;
}

.phone_ic {
  margin-right: 10px;
  cursor: pointer;
}
.phone_ic:hover {
  opacity: 0.5;

}
.it_block_1 {
  /* position: absolute; */
  top: 5px;
  left: 100px;
  border-style: solid;
  border-width: 0.6px;
  border-radius: 15px;
  background-color: rgb(206, 220, 238);
  display: grid;
  grid-template-columns: 170px 170px;
  grid-template-rows: 30px 30px;



}

.tel_str2 {
  text-decoration: none;
  color: white;
  background-color: #0d2d3d;
  text-align: center;
  justify-content: center;
}

.tel_str2:link {
  color: white;
  background-color: #0d2d3d;

}

.tel_str2:visited {
  color: white;
  background-color: #0d2d3d;

}

.tel_str2:hover {
  opacity: 0.5;
}



.tel_1 {
  font-size: 16px;
  font-weight: bold;
  color: #0e5070;
}

.tel_str1 {
  font-weight: lighter;
  color: #0d2d3d;
}

.tel_2 {
  font-size: 16px;
  font-weight: bold;
  color: #0e5070;
}
.item2_social_block{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: calc(100% / 3);
}

.social {
  display: flex;
  align-items: center;

}

.btn_1 {

  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(216, 216, 216);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-bottom: 5px;


}

.btn_1:link {
  color: #0d2d3d;

}

.btn_1:visited {
  color: #0d2d3d;

}

.btn_1:hover {
  background-color: rgb(218, 218, 37);
  color: #0d2d3d;
}


.main_logo {
  display: inline-flex;
  justify-content: space-between;
  /* width: 200px;
  height: 70px; */
  background-color: #0d2d3d;
  border-radius: 15px;
  /* position: relative; */
  margin:0 15px 0 15px;
}
.main_logo :hover{
  background-color: #0e5070;
  border-radius: 15px;
  box-shadow: inset 0 0 0 3px #3a7999;
  transition: all 0.5s ease;
}

.logo_left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.5px 0px 3px 3px;
  width: 60px;
  height: 60px;
  background-color: rgb(218, 218, 37);
  border-radius: 15px;
  /* text-align: center; */
  /* vertical-align: middle; */
  font-size: 20px;
  font-weight: 700;
  color: #0d2d3d;
  font-family: cursive;
  /* position: absolute; */



}

.logo_right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family:  cursive;
  font-style:italic;
  text-decoration: none;
  min-width: 150px;
  min-height: 70px;
  /* position: absolute; */
  /* left: 70px;
  top: 20px; */


}



.block_btn_2 {
  display: flex;
  align-items: center;
  flex-basis: calc(100%/3);
}

.btn_2 {
  text-decoration: none;
  color: #0d2d3d;
  margin-left: 50px;
  margin-bottom: 5px;
}

.btn_2:link {
  color: #0d2d3d;

}

.btn_2:visited {
  color: #0d2d3d;
  ;

}

.btn_2:hover {
  opacity: 0.5;
  color: #0d2d3d;
}


.item3 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #0d2d3d;
  margin-top: 20px;
  -webkit-box-shadow: 0px 10px 8px 0px rgba(34, 70, 80, 0.41);
  -moz-box-shadow: 0px 10px 8px 0px rgba(34, 70, 80, 0.41);
  box-shadow: 0px 10px 8px 0px rgba(34, 70, 80, 0.41);
}

.sp_cat {
  margin: 0px 20px 0px 20px;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.cat_ic_1 {
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

.cat_ic_2 {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

/*!подменю первого уровня*/
.catalog {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #0d2d3d;
  background-color: rgb(218, 218, 37);
  margin-right: 30px;
}

.sub_menu {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  padding: 0px 0px 0px;
  width: 100%;
  z-index: 10;
  list-style-type: none;
  /* background-color: #d2d2bf; */
  background-color: rgba(243, 246, 234, 0.9)
}


.catalog:hover .sub_menu {
  display: block;
}

.sub_menu>li {
  height: 27px;
  width: 100%;
  padding-top: 10px;
  /* padding-bottom: 20px; */
  min-width: 300px;
  /* background-color: rgba(243, 246, 234, 0.8) */

}



.sub_m_it {
  text-decoration: none;
  padding: 5px;
  margin: 3px 0px 3px 0px;
  border-radius: 10px;
}

.sub_m_it:link {
  color: #0d2d3d;
  background-color: rgb(218, 218, 37);
}

.sub_m_it:visited {
  color: #0d2d3d;
  background-color: rgb(218, 218, 37)
}

.sub_m_it:hover {
  color: white;
  background-color: #0d2d3d;
}

/*!подменю второго уровня№1*/

.c-menu_motor_oil {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  padding: 0px 0px 0px;
  /* width: 600px;
  height: 500px; */
  min-width: 410px;
  min-height: 410px;
  max-width: 50vw;
  z-index: 20;
  list-style-type: none;
  background-color:  rgb(218, 218, 37);

}


.sub_menu>li:hover .c-menu_motor_oil {
  display: block;
}

/*!Второе подменю структура блока start*/
.maker {
  margin-left: 10px;
}

.oil_makers {
  /* display: flex;
  justify-content: center; */
  max-width: 60vw;
  border-top: 1px solid #0d2d3d;
  border-bottom: 1px solid #0d2d3d;
}

.s_sub_m_list {
  /* display: flex;
  justify-content: space-around; */
  list-style: none;
  max-width: 60vw;

  

}

.s_sub_m_it {
  text-decoration: none;
  margin: 10px;    
  
}
.s_sub_m_list2 {
  list-style: none;
}
.s_sub_m_it2 {    
  text-decoration: none;
  margin: 5px;    
  white-space: nowrap;
  display: block;
}
.over_makers {
  display: flex;
  justify-content: space-around;
}

/*.s_sub_m_it2:link {
  color: #0d2d3d;

}*/

.s_sub_m_it2:visited {
  color: #0d2d3d;

}

.s_sub_m_it2:hover {
  background-color: rgb(218, 218, 37);
  color: #0d2d3d;
  border-radius: 10%;
  opacity: 0.7;
}

/*.s_sub_m_it:link {
  color: #e9f0f3;

}*/

.s_sub_m_it:visited {
  color: #0d2d3d;

}

.s_sub_m_it:hover {
  background-color: rgb(218, 218, 37);
  color: #0d2d3d;
  border-radius: 10%;
  

}
/*Второе подменю структура блока end*/
.form {
  display: flex;
  align-items: center;
}

.input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;

}

.input::placeholder {
  color: white;
}

.input::-webkit-input-placeholder {
  color: white;
}

.input::-ms-input-placeholder {
  color: white;
}

.input:-moz-placeholder {
  color: white;
  opacity: 1;
}

.input::-moz-placeholder {
  color: white;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: white;
}

.img_gog {
  background-color: aliceblue;
  width: 35px;
  height: 35px;
  border-radius: 20%;
}

.img_gog:hover {
  background-color: yellow;

}

.nav_2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.btn_bot {
  text-decoration: none;
  padding: 15px;


}

.btn_bot:link {
  color: white;

}

.btn_bot:visited {
  color: white;

}

.btn_bot:hover {
  background-color: rgb(218, 218, 37);
  color: #0d2d3d;
  height: 50px;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.headerBasketCount{
  border-radius: 100%;
  background-color: rgb(223, 223, 223);
  padding-left: 7px;
  padding-right: 7px;
}

/*!карточка товаров на главной странице*/
.content {
  margin-top: 50px;
  /*display: flex;
  justify-content: center;*/
}
.main_cart_wrapper{
    display: flex;
  justify-content: center;
}
.cart {
  width: 90%;
  max-width: 250px;
  height: 100%;
  position: relative;
  margin: 5px;
  float: left;   
  border: 1px solid #0d2d3d;
  border-radius: 15px;
}


@media only screen and (min-width: 450px) {
.icon_iside{
  display: none;
}
}

@media only screen and (max-width: 450px) {
.cart {
  width: 90%;
}
}

@media only screen and (max-width: 550px) {
.cart_img_single {
  /* display: none; */
  /* background-color: #1d49aa; */
}
.img_single {
  /* display: none; */
  background-color: #1d49aa;
}
.card_img_single_aside {
  /* display: none; */
  
}
.cart_mobile_540px{
 display: flex;
 justify-content: center;

}
}
@media only screen and (min-width: 550px) {
  .cart{
    min-height: 350px;
    /* max-height: 370px; */
  }
  .main_card_img{
    min-height: 175px;
    min-width: 175px;
  }
}

@media only screen and (max-width: 800px) {
  #bsCardSpanDelete{
    display: none;
  }
  
}

@media only screen and (min-width: 768px) {
.cart {
  width: 33.333%;
  min-height: 370px;
  
}
.wrapper_basket_upper {
  margin: 1% 20% 1% 20%;
  display: flex;
  justify-content: space-around;
  
  
  /* max-width: 70vw; */
  /* max-width: 70vw; */
  /* margin: 0 auto; */
}
}

@media only screen and (min-width: 1000px) {
.cart {
  width: 25%;
}
.icon_iside{
  display: inline;
}
}
@media only screen and (min-width: 1200px) {
.cart {
  width: 20%;
}
.icon_iside{
  display: inline;
}

}



/* @media only screen and (min-width: 1000px) {
  .img_single{
    width: 400px;

  }
} */

/* ! media для хедера */
@media only screen and (max-width: 1000px) {
.it_block_1 {
  display: none;
}
}
@media only screen and (max-width: 850px) {
.it_block_1 {
  display: none;
}
}
/* @media only screen and (max-width: 850px) {
.cat_page_mobile_filter_bar_overlay_hide {
  display: none;
}
} */
@media only screen and (min-width: 811px) {
  .burger_menu_panel {
    display: none;
  }
  .burger_overlay{
    display: none;
  }
}

/* ! media для хедера end*/

.icon_cart {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
}

.cart_img {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  
}
.main_card_img{
  max-height: 100px;
  max-width: 100px;
  border-radius: 15px;
}

.ic_cart_comp {
  border: 1px solid #0d2d3d;
  padding: 2px;
  margin-bottom: 2px;
  
}
.img_cr_copm {
  width: 20px;
  height: 20px;
}

.ic_cart_fav {
  border: 1px solid #0d2d3d;
}
.img_cr_fav {
  width: 20px;
  height: 20px;
}
.cart_href_copm:hover {
  opacity: 0.5;

}
.cart_href_fav:hover {
  opacity: 0.5;
}
.discr {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.oil_category {
  border-bottom: 2px solid gray;
}
.name_char {
  margin: 10px 0px 10px 0px;
}

.name_char_href {
  text-decoration: none;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}
.name_char_href:link {
  color: #0d2d3d;

}

.name_char_href:visited {
  color: #0d2d3d;

}

.name_char_href:hover {
  opacity: 0.5;
  color: #0d2d3d;
  
}

.price {
  font: 24px PtSansNarrowRegular;
    color: #0d2d3d;
}

.but_bask {
  margin: 10px 0px 10px 0px;
}
.bay {
  margin: 10px 0px 10px 0px;
}
.bay_oneclick {
  text-decoration: none;
  
}

.bay_oneclick:link {
  color: #0d2d3d;

}

.bay_oneclick:visited {
  color: #0d2d3d;

}
.bay_oneclick:hover {
  
  color: #317a6e;
  
} 
/*карточка закончилась*/

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #0d2d3d;   
  width: 100%;
}
.fot_ul {
  list-style: none;
  font-family: sans-serif;
}
.fot_ul>li:first-child {
  margin-bottom: 20px;
}
.fot_ul>li {
  margin-bottom: 5px;
}

.fot_fst_li {
  text-decoration: none;
}
.fot_fst_li:link {
  color:  rgb(218, 218, 37);

}

.fot_fst_li:visited {
  color:  rgb(218, 218, 37);

}
.fot_fst_li:hover {
  
  color:  rgb(167, 139, 30);
  
}

.fot_all_li {
  text-decoration: none;
}
.fot_all_lii:link {
  color: white;

}

.fot_all_li:visited {
  color: white;

}
.fot_all_li:hover {
  
  color: rgb(218, 218, 37);
  
}
.quest {
  margin: 20px;
  font-family: sans-serif;
}
.but_qes {
  padding: 10px 20px;
  background-color: rgb(218, 218, 37);
  text-decoration: none;
}
.but_qes:link {
  color: #0d2d3d;
  background-color: rgb(218, 218, 37);

}

.but_qes:visited {
  color: #0d2d3d;
  background-color: rgb(218, 218, 37);

}
.but_qes:hover {
  color: #0d2d3d;
  background-color: rgb(167, 139, 30);    
}

/* ! single cart */
.card_center {
  display: flex;
  justify-content: center;
  /* width: 80vw; */
  /* width: 1000px;
  margin: 0 auto; */
}

.cart_single {
  /* display: none; */
  margin: 50px;
  width: 100vw;

}
.name_char_single {
  display: flex;
  justify-content: center;
  font-size:calc(20px + 8 * (100vw - 320px) / 880);
  font-family: sans-serif;
  font-weight: 700;
  color: #0d2d3d;
  margin: 10px;
  
}
.cart_img_single {
  /* border: #d2d2bf solid 1px; */
  /* border-radius: 15px; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
 
}
.img_single {
  /* width: 500px; */
  width: 50vw;
  max-width: 500px;
  min-width: 200px;
  border-radius: 15px;
  /* width: 100%; */
  /* height: 350px; */
}
.card_img_single_aside {
    min-width: 140px;
    width:20vw;
    background-color: rgb(243, 243, 239);
    border-radius: 15px;

    
}

.card_img_single_aside_content {
  
  margin: 10px;
}

.price_card {
  font: 24px PtSansNarrowRegular;
    color: #0d2d3d;
    margin: 10px;
}

.btn_2_card {
  text-decoration: none;
  color: #0d2d3d;
  margin: 10px;
  
}
.btn_2_card:link {
  color: #0d2d3d;

}

.btn_2_card:visited {
  color: #0d2d3d;
  ;

}

.btn_2_card:hover {
  opacity: 0.5;
  color: #0d2d3d;
}

.but_bask_card {
  margin: 10px;
  
}

.button_card {
  border: 0;
  border-radius: 0;
  background-color: rgb(218, 218, 37);
  padding: 5px 30px;
  width: 100%;
  text-transform: uppercase;
  
}
.button_card:hover {
  background-color: rgb(167, 139, 30);

}

.bay_card {
  margin: 10px;

  
}
.bay_oneclick_card {
  text-decoration: none;
  border: 1px solid rgb(218, 218, 37);
  padding: 2px 5px;
  border-radius: 15px;
  }

.bay_oneclick_card:link {
  color: #0d2d3d;

}

.bay_oneclick_card:visited {
  color: #0d2d3d;

}
.bay_oneclick_card:hover {
  
  color:  rgb(27, 35, 70);
  border: 1px solid rgb(27, 35, 70);
  transition: all 0.5s;
  
} 

.card_discr {
  display: flex;
  justify-content: center;
}

.discrList{
  list-style-type: none;
  display: flex;
  justify-content: center;
  font: sans-serif;
  width: 70vw;
}
.discrList>li{
  margin-right: 50px;
}
.discrButton{
  cursor: pointer;
  background-color: #0e5070;
  color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
}
.discrButton:hover{
  opacity: 0.8;
  transition: all 1s;
}

.discr_text {
   display: flex;
  justify-content: center;
  word-wrap: break-word;
 }
.tt {
  word-wrap: break-word;
  max-width: 70vw;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);
}

.char_table {
  width: 100%;
  margin: 0 auto;
}
th{
  border: 1px solid grey;
}

/* ! КОРЗИНА ТОВАРОВ */
.wrapper_basket {
  margin: 1%;
  display: flex;
  justify-content: space-around;
  
  border: #d2d2bf 1px solid;
  /* max-width: 70vw; */
  /* max-width: 70vw; */
  /* margin: 0 auto; */
}
.basket_img1{
  /* max-height: 200px; */
  /* height: 10vh; */
  width: 15vw;
  min-width: 100px;
  max-width: 250px;
  /* max-width: 200px; */
  /* min-height: 100px; */
  /* min-width: 100px; */


}
.basket_quantity{
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding:0 1% 0 1%;
  min-width: 85px;
  
}

.basket_quantity_inner{
  display: inline-block;
  
}

.quantity_input {
  width: 5vw;
  max-width: 30px;
  min-width: 25px;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}
.increment{
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}
.decrement{
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}


.basket_product_name{
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding:0 1% 0 1%;
  }

.basket_price{
  display: flex;
  align-items: center;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}
.basket_sum{
  display: flex;
  align-items: center;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);

}

.basket_button_delete{
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding:0 1% 0 1%;
  
}

/* !  cardFooter */
.cardFooter{
  display: flex;
  border: #d2d2bf 1px solid;
  justify-content: space-around;
  align-items: center;
  margin: 3% 10% 3% 10%;
  font-size:calc(12px + 3 * (100vw - 320px) / 880);
  /* max-width: 70vw;s */

}

.cardFooter_totalCount{
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cardFooter_totalBasketPrice{
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  padding: 10px;

  
}

.c-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #c7cb59;
  color: rgb(43, 38, 38);
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
}

.c-button:hover {
  background: #1d49aa;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
}

.form_page_form_conteiner{
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
}
.input_form {
  width: 100%;
  padding: 0.7vw 2vw;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
.form_input_button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_input_button:hover{
  background-color: #45a049;
  opacity:var(--hover-opacity);

}

/* .burger_menu {
  background-Color: #ffcb05;
          height: 55vh;
          width: 70vw;
          z-index: 10;
          position: absolute;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
} */

